:root {
  --mpl-primary:#F12971;
  --mpl-sky:#f38fb3;
  --mpl-sky-light:#EFFAFF;
  --mpl-secondary:#1d2327;
  --mpl-dark:#a4a4a4;
  --mpl-gray:#e0e0e0;
  --mpl-light:#F5F5F5;
  --mpl-white:#ffffff;
  --mpl-black:#000000;
  --mpl-yellow:#ffcb00;
  --mpl-red:#d91e1e;
  --mpl-red-light:#f6dada;
}

@media only screen and (min-width: 10px) {
  div.wbtm_settings_pricing_routing div.mp_item_insert div:nth-last-child(2) h3 span {
    display: none;
  }
  #mp_meta_box_panel div.wbtm_seat_plan_settings table {
    table-layout: auto;
    border: 0;
  }
  /*****************/
  div.wbtm_seat_plan_settings {
    padding: var(--dmp_xs);
    width: calc(100% - 300px);
    background-color: var(--color_white);
  }
  div.wbtm_seat_plan_settings table {
    border: none;
  }
  div.wbtm_seat_plan_settings table th {
    min-width: 75px;
  }
  div.wbtm_seat_plan_settings table th .formControl {
    text-align: center;
  }
  #mp_meta_box_panel div.wbtm_seat_plan_settings table tr:nth-child(even),
  #mp_meta_box_panel div.wbtm_seat_plan_settings table tr:nth-child(odd) {
    background-color: transparent;
  }
  div.wbtm_settings_pricing_routing div.mp_stop_items {
    position: relative;
  }
  div.wbtm_settings_pricing_routing div.mp_stop_items::before {
    position: absolute;
    content: "";
    left: 0;
    top: -21px;
    height: 100%;
    border: 1px solid var(--d_color);
    margin-left: 20px;
  }
  div.wbtm_settings_pricing_routing div.wbtm_stop_item {
    position: relative;
    width: 98%;
    padding-left: 50px;
  }
  div.wbtm_settings_pricing_routing div.wbtm_stop_item::before {
    position: absolute;
    top: 25px;
    left: 5px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--color_light);
    background-image: url("../images/map-location.svg");
    font-family: "Font Awesome 5 Free";
    content: "";
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 47%;
    border: 1px solid var(--d_color);
  }
  div.wbtm_settings_pricing_routing div.wbtm_stop_item::after {
    position: absolute;
    top: 25px;
    left: 40px;
    content: "";
    width: 10px;
    border: 1px solid var(--color_border);
  }
  div.wbtm_settings_pricing_routing div.wbtm_stop_item .wbtm_stop_item_header {
    padding: 5px 10px;
    border: 1px solid var(--color_border);
  }
  div.wbtm_settings_pricing_routing div.wbtm_stop_item .wbtm_stop_item_content {
    padding: 5px;
    border: 1px solid var(--color_border);
    border-top: 0;
  }
}
/********************************************************************  ************************************************/
@media only screen and (min-width: 10px) {
  .mpStyle .tabsContent {
    overflow: visible;
  }
  .tool-tips {
    color: var(--color_light_1);
    position: relative;
    padding: 0 0.2em;
  }
  .tool-tips:hover span {
    visibility: visible;
  }
  .tool-tips span {
    font-family: Ubuntu;
    font-weight: normal;
    font-size: 0.8rem;
    visibility: hidden;
    background-color: var(--color_black);
    opacity: 0.8;
    color: var(--color_white);
    text-align: center;
    border-radius: 0.2em;
    padding: 0.5em;
    width: max-content;
    bottom: 125%;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    z-index: 1;
  }
  .tool-tips span:after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    transform: translate(-50%);
    border: 5px solid var(--color_black);
    border-color: var(--color_black) transparent transparent transparent;
  }
  .tool-tips span:hover {
    color: var(--color_black);
  }
}
.long-arrow {
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  background-position: center center;
}

#mp_meta_box_panel .postbox-header {
  background-color: var(--mpl-primary);
}
#mp_meta_box_panel .postbox-header .handle-actions {
  margin-top: 0;
}
#mp_meta_box_panel .postbox-header .handle-actions .handle-order-higher, #mp_meta_box_panel .postbox-header .handle-actions .handle-order-lower, #mp_meta_box_panel .postbox-header .handle-actions .toggle-indicator {
  color: var(--mpl-white);
}
#mp_meta_box_panel .mpStyle {
  background-color: #fff;
}
#mp_meta_box_panel .mpStyle .tabLists {
  width: 20%;
  padding: 25px;
  background-color: var(--mpl-light);
  padding-right: 0;
}
#mp_meta_box_panel .mpStyle .tabLists li {
  border-left: 0;
  border-right: 0;
  padding: 15px;
  color: var(--mpl-secondary);
  border-left: 2px solid transparent;
}
#mp_meta_box_panel .mpStyle .tabLists li span {
  margin-right: 25px;
  color: var(--mpl-primary);
}
#mp_meta_box_panel .mpStyle .tabLists li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  border-bottom: 1px solid #d8d8d8;
  width: 91%;
}
#mp_meta_box_panel .mpStyle .tabLists li.active, #mp_meta_box_panel .mpStyle .tabLists li:hover {
  background-color: #fff;
  color: #333;
  font-weight: normal;
  border-left: 2px solid var(--mpl-primary);
}
#mp_meta_box_panel .mpStyle .tabLists li.active::after, #mp_meta_box_panel .mpStyle .tabLists li:hover::after {
  width: 100%;
}
#mp_meta_box_panel .mpStyle .tabsContent {
  width: 80%;
  padding: 2% 5%;
}
#mp_meta_box_panel .mpStyle .tabsContent .tabsItem > h2 {
  padding: 0;
  color: var(--mpl-secondary);
  margin: 30px 0 20px 0;
  margin-bottom: 20px;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 12px;
  font-weight: 700;
}
#mp_meta_box_panel .mpStyle .tabsContent .tabsItem > p {
  color: var(--mpl-secondary);
  margin: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 50px;
}
#mp_meta_box_panel .mpStyle .tabsContent .tabsItem [class*=_dLayout] {
  border-radius: 0;
  margin-top: -1px;
  margin-bottom: 0;
}
#mp_meta_box_panel .mpStyle .tabsContent .span-row {
  color: #6B7280;
  font-size: 13px;
  font-weight: normal;
}
#mp_meta_box_panel .mpStyle .tabsContent .long-input {
  width: 80%;
}
#mp_meta_box_panel .mpStyle .tabsContent .wp-switch-editor {
  height: auto;
}
#mp_meta_box_panel .mpStyle .tabsContent .wp-editor-area {
  width: 100%;
  border: 0;
}

@media only screen and (min-width: 0px) {
  #mp_meta_box_panel .tabLists {
    border-right: 0px solid var(--mpl-light);
  }
  .leftTabs [data-tabs-target] {
    border-bottom: 0px solid var(--mpl-light);
  }
  .leftTabs > .tabLists {
    -webkit-flex-flow: column;
    flex-flow: column;
    min-width: inherit;
    max-width: inherit;
  }
  div.mpStyle [data-tabs-target] {
    color: var(--mpl-secondary);
  }
  .mpStyle .tabsContent {
    overflow: visible;
  }
  .mpStyle .navy_blueButton, .mpStyle [class*=_navy_blueButton] {
    background-color: var(--mpl-primary);
    color: var(--mpl-white);
    padding: 0.75em;
    border: 2px solid var(--mpl-primary);
  }
  .mpStyle .navy_blueButton:hover, .mpStyle [class*=_navy_blueButton]:hover {
    background-color: var(--mpl-white);
    color: var(--mpl-primary);
    border-color: var(--mpl-primary);
  }
  .mpStyle .navy_blueButton:hover span, .mpStyle [class*=_navy_blueButton]:hover span {
    color: var(--mpl-primary);
  }
  .mpStyle .warningButton, .mpStyle [class*=_warningButton] {
    background-color: var(--mpl-yellow);
    color: var(--mpl-white);
    padding: 0.75em;
    border: 2px solid var(--mpl-yellow);
  }
  .mpStyle .warningButton:hover, .mpStyle [class*=_warningButton]:hover {
    background-color: var(--mpl-white);
    color: var(--mpl-yellow);
  }
  .mpStyle .warningButton:hover span, .mpStyle [class*=_warningButton]:hover span {
    color: var(--mpl-yellow);
  }
  div.mpStyle select.formControl:focus {
    background-color: var(--mpl-white);
  }
  .mpStyle .mp_remove_icon {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    opacity: 1;
  }
  .mp_settings_panel_header {
    background: var(--mpl-secondary);
    padding: 1em 0.5em;
    color: var(--mpl-white);
    font-size: 20px;
    margin-top: 30px;
  }
  .mp_settings_panel {
    padding-bottom: 0.5em;
  }
  .mp_settings_panel .nav-tab-wrapper {
    background: var(--mpl-sky-light);
    border: 5px solid var(--mpl-sky-light);
  }
  .mp_settings_panel .nav-tab-wrapper .nav-tab {
    box-sizing: border-box;
    background: var(--mpl-white);
    color: var(--mpl-secondary);
    margin-bottom: 0.5em;
    border-radius: 0.25rem;
  }
  .mp_settings_panel .nav-tab-wrapper .nav-tab:hover {
    background: var(--mpl-primary);
    color: var(--mpl-white);
  }
  .mp_settings_panel .nav-tab-wrapper .nav-tab.nav-tab-active {
    background: var(--mpl-primary);
    color: var(--mpl-white);
  }
  .mp_settings_panel .metabox-holder {
    background: #FFF;
    padding: 0;
    margin: 0;
    width: calc(100% - 300px);
    border: 15px solid var(--mpl-sky-light);
    background-color: var(--mpl-sky-light);
  }
  .mp_settings_panel .metabox-holder h2 {
    border-bottom: 0px solid var(--mpl-white);
    font-size: 1.625rem;
    line-height: 1.4;
    padding: 0.5em 0;
    margin: 0;
    font-weight: 300;
    background: var(--mpl-sky-light);
    color: var(--mpl-primary) !important;
  }
  .mp_settings_panel .metabox-holder table {
    border-collapse: separate;
    border-spacing: 0 0.1em;
    margin: 0;
    background-color: var(--mpl-sky-light);
    border-radius: 0.25rem;
  }
  .mp_settings_panel .metabox-holder table tr:nth-child(2n) {
    background-color: var(--mpl-white);
  }
  .mp_settings_panel p.submit input {
    font-size: 16px;
    padding: 5px 30px;
    border-radius: 0.25rem;
    background: var(--mpl-primary);
    border-color: var(--mpl-primary);
    transition: 0.2s;
  }
  .mp_settings_panel p.submit input:hover {
    background: var(--mpl-primary);
    border-color: var(--mpl-primary);
  }
  #wpbody-content .metabox-holder {
    padding-top: 0px;
    padding-bottom: 0.5em;
  }
}
.ppof-settings .form-wrapper {
  margin-left: 250px;
  background: transparent;
}

#mp_meta_box_panel h1 {
  padding: 0;
  color: var(--mpl-secondary);
  margin: 30px 0 20px 0;
  margin-bottom: 20px;
  margin-bottom: 20px;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 12px;
  font-weight: 700;
}
#mp_meta_box_panel .tab-content-ttbm_date_config_meta_boxs .description, #mp_meta_box_panel .tab-content-ttbm_tax_meta_boxs .description {
  margin: 0;
  padding: 0.75em 0;
  font-size: 1rem;
}
#mp_meta_box_panel .tab-content-ttbm_date_config_meta_boxs table, #mp_meta_box_panel .tab-content-ttbm_tax_meta_boxs table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
  margin: 0;
  margin-top: 50px;
}
#mp_meta_box_panel .tab-content-ttbm_date_config_meta_boxs table.form-table tr th, #mp_meta_box_panel .tab-content-ttbm_date_config_meta_boxs table.form-table tr td, #mp_meta_box_panel .tab-content-ttbm_tax_meta_boxs table.form-table tr th, #mp_meta_box_panel .tab-content-ttbm_tax_meta_boxs table.form-table tr td {
  background-color: var(--mpl-white);
  padding: 1.5em;
  margin-bottom: 1.5em;
  width: 50%;
  border: 1px solid var(--mpl-gray);
}
#mp_meta_box_panel .tab-content-ttbm_date_config_meta_boxs table.form-table tr th p, #mp_meta_box_panel .tab-content-ttbm_date_config_meta_boxs table.form-table tr td p, #mp_meta_box_panel .tab-content-ttbm_tax_meta_boxs table.form-table tr th p, #mp_meta_box_panel .tab-content-ttbm_tax_meta_boxs table.form-table tr td p {
  font-size: 0.8rem;
}
#mp_meta_box_panel .tab-content-ttbm_date_config_meta_boxs table.form-table tr td, #mp_meta_box_panel .tab-content-ttbm_tax_meta_boxs table.form-table tr td {
  text-align: right;
}
#mp_meta_box_panel .tab-content-ttbm_date_config_meta_boxs table.form-table tr td label, #mp_meta_box_panel .tab-content-ttbm_tax_meta_boxs table.form-table tr td label {
  display: block;
  text-align: right;
}
#mp_meta_box_panel .tab-content-ttbm_date_config_meta_boxs table.form-table tr td input, #mp_meta_box_panel .tab-content-ttbm_tax_meta_boxs table.form-table tr td input {
  border-radius: 0.25rem;
}
#mp_meta_box_panel .tab-content-ttbm_date_config_meta_boxs table.form-table tr td input.select2-search__field, #mp_meta_box_panel .tab-content-ttbm_tax_meta_boxs table.form-table tr td input.select2-search__field {
  border: 0;
}
#mp_meta_box_panel .tab-content-ttbm_date_config_meta_boxs table.form-table tr td input#mep_disable_ticket_time, #mp_meta_box_panel .tab-content-ttbm_tax_meta_boxs table.form-table tr td input#mep_disable_ticket_time {
  margin-right: 0.5em;
}
#mp_meta_box_panel .form-wrap.form-builder h1, #mp_meta_box_panel .form-wrap.form-builder h2, #mp_meta_box_panel .form-wrap.form-builder h3, #mp_meta_box_panel .form-wrap.form-builder h4, #mp_meta_box_panel .form-wrap.form-builder h5, #mp_meta_box_panel .form-wrap.form-builder h6,
#mp_meta_box_panel .form-wrap.form-builder .h1, #mp_meta_box_panel .form-wrap.form-builder .h2, #mp_meta_box_panel .form-wrap.form-builder .h3, #mp_meta_box_panel .form-wrap.form-builder .h4, #mp_meta_box_panel .form-wrap.form-builder .h5, #mp_meta_box_panel .form-wrap.form-builder .h6 {
  color: var(--mpl-dark);
}
#mp_meta_box_panel .form-wrap.form-builder .frmb li {
  padding-bottom: 1.5em;
  border: 1px dashed var(--mpl-gray);
  box-shadow: 0 0 0px var(--mpl-light);
  background-color: var(--mpl-light);
  margin-bottom: 0.5em;
}
#mp_meta_box_panel .form-wrap.form-builder .frmb li.frmb-placeholder, #mp_meta_box_panel .form-wrap.form-builder .frmb li.ui-state-highlight {
  padding: 2.5em;
  background: var(--mpl-sky-light);
  border: 1px dashed var(--mpl-primary);
  clip-path: none;
  margin-bottom: 0.5em;
}
#mp_meta_box_panel .form-wrap.form-builder .frmb li:hover {
  border: 1px dashed var(--mpl-primary);
  box-shadow: 0 0 10px var(--mpl-light);
  background-color: var(--mpl-sky-light);
}
#mp_meta_box_panel .form-wrap.form-builder .frmb li.delete:hover {
  border: 1px dashed var(--mpl-red);
  background-color: var(--mpl-red-light);
}
#mp_meta_box_panel .form-wrap.form-builder .frmb li .field-actions .btn {
  min-width: 0;
  padding: 0;
  color: var(--mpl-white);
  border-radius: 0;
  transition: all 0;
}
#mp_meta_box_panel .form-wrap.form-builder .frmb li .field-actions .del-button {
  background-color: var(--mpl-red);
  color: var(--mpl-white);
}
#mp_meta_box_panel .form-wrap.form-builder .frmb li .field-actions .toggle-form {
  background-color: var(--mpl-yellow);
  transition: all 0;
}
#mp_meta_box_panel .form-wrap.form-builder .frmb li .field-actions .copy-button {
  background-color: var(--mpl-primary);
  color: var(--mpl-white);
}

div > .ppof-metabox {
  background: transparent;
}

.mpStyle .ppof-button {
  width: 320px;
  border: 0px solid;
  box-shadow: none;
  background-color: var(--mpl-primary);
  border-radius: 0.25rem;
  padding: 0.5em 0.75em;
  color: var(--mpl-white);
  font-size: 1rem;
  transition: all 0.5s ease-in-out;
  min-width: 100px;
}

@media only screen and (min-width: 0px) {
  div.mp_multi_image {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: stretch;
    gap: 0.5em;
    margin-bottom: 0.5em;
  }
  div.mp_multi_image div.mp_multi_image_item {
    width: calc(25% - 7px);
  }
  div.mp_multi_image div.mp_multi_image_item img {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }
  div.mpStyle .description {
    font-size: 1rem !important;
    color: var(--mpl-secondary);
  }
  .mpStyle .customCheckboxLabel input:checked ~ .customCheckbox::before {
    background: var(--mpl-sky);
  }
  .mpStyle .customCheckboxLabel {
    cursor: pointer;
    font-weight: 300;
  }
  .mpStyle .customCheckbox::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 20px;
    width: 20px;
    background-color: var(--mpl-white);
    border: 1px solid var(--mpl-primary);
    border-radius: 2px;
  }
}
div.mpStyle span.mp_remove_multi_image {
  background-color: var(--mpl-black);
  color: var(--mpl-white);
  box-shadow: 0 0 5px var(--mpl-white);
}

div.mpStyle span.mp_remove_multi_image {
  top: -7px;
  right: -7px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: var(--mpl-gray);
  border: 5px solid var(--mpl-light);
  border-radius: 0.25rem;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 5px 10px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  padding: 5px;
}

.global-settings table th {
  width: 50%;
}
.global-settings table th label {
  display: block;
}

/*# sourceMappingURL=wbtm_admin.css.map */
